<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>上传</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'index.css') }}">
    <style type="text/css">
        img[src=""], img:not([src]) {
            opacity: 0;
        }
    </style>
</head>
<body>
<div id="app">
    <el-upload
            class="upload-demo"
            action="#"
            :show-file-list="false"
            :http-request="httpRequest"
            accept="image/gif,image/jpeg,image/jpg,image/bmp,image/png">
        <el-button size="small" type="primary">选择文件</el-button>
    </el-upload>
    <div style="display: flex;">
        <div style="position: relative;width:30vw;height:45vw;margin-top: 18px;">
            <div style="position: absolute;transform: rotate(90deg);">
                <img :src="img" alt=""
                     style="position: absolute; left: 0;bottom: 0; width: 45vw;height: 30vw;transform: rotate(180deg);border: 0;">
            </div>
        </div>
        <div style="position: relative;width:30vw;height:45vw;margin-top: 18px;margin-left: 30vw;">
            <div style="display: flex;" v-for="(itemList,index) of imgList">
                <div v-for="(item,i) of itemList" :key="index + '-' + i">
                    <img :src="'data:image/jpeg;base64,' + item"
                         style="width: 7.5vw;display:block;">
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="{{ url_for('static', filename = 'vue.js') }}"></script>
<script src="{{ url_for('static', filename = 'index.js') }}"></script>
<script src="{{ url_for('static', filename = 'jquery-3.2.1.min.js') }}"></script>
<script>
new Vue({
  el: '#app',
  data: () => {
    return {
      flag: false,
      name: '123',
      img: '',
      imgList: []
    }
  },
  created () {
  },
  methods: {
    httpRequest (params) {
      let _this = this
      const file = params.file
      let reader = new FileReader()
      reader.readAsDataURL(params.file)
      reader.onload = function () {
        _this.img = reader.result
      }
      let formFile = new FormData()

      formFile.append('file', file) //加入文件对象
      const loading = this.$loading({
        lock: true,
        text: '正在处理数据中，请稍后...',
        spinner: 'el-icon-loading',
        background: 'rgba(0, 0, 0, 0.7)'
      })
      _this.imgList = []
      $.ajax({
        url: '/upload',
        data: formFile,
        type: 'post',
        dataType: 'json',
        timeout: 300000,
        cache: false,//上传文件无需缓存
        processData: false,//用于对data参数进行序列化处理 这里必须false
        contentType: false, //必须
        success: function (result) {
          _this.imgList = result.img.reverse()
          _this.$nextTick(() => {
            loading.close()
          })
        },
        error: function (result, textStatus) {
          loading.close()
          if (textStatus === 'timeout') {
            _this.$message.error('请求超时，请稍后重新请求！')
          } else {
            _this.$message.error('上传的图片像素有误，请上传正确像素图片！')
          }
        }
      })
    }
  }
})
</script>
</html>
